<div>
  <div class="c-tabs__header c-tabs__header--large">
    <div class="c-tabs__row">
      <div class="c-tabs__tab c-tabs__subtab is-active">
        <a href="#" tab-data="tab_0">
          <span class="c-tabs__title c-tabs__title--small">Protección Estratégico</span>


          <div class="c-tabs__indicator c-tabs__indicator--proteccion"> <strong>3% </strong>Volatilidad <br>Objetivo</div>
        </a>
      </div>
      <div class="c-tabs__tab c-tabs__subtab">
        <a href="#" tab-data="tab_1">
          <span class="c-tabs__title c-tabs__title--small">Equilibrio Estratégico</span>


          <div class="c-tabs__indicator c-tabs__indicator--equilibrio"> <strong>6% </strong>Volatilidad <br>Objetivo</div>
        </a>
      </div>
      <div class="c-tabs__tab c-tabs__subtab">
        <a href="#" tab-data="tab_2">
          <span class="c-tabs__title c-tabs__title--small">Crecimiento Estratégico</span>


          <div class="c-tabs__indicator c-tabs__indicator--crecimiento"> <strong>9% </strong>Volatilidad <br>Objetivo</div>
        </a>
      </div>
      <div class="c-tabs__tab c-tabs__subtab">
        <a href="#" tab-data="tab_3">
          <span class="c-tabs__title c-tabs__title--small">Retorno Estratégico</span>


          <div class="c-tabs__indicator c-tabs__indicator--retorno"> <strong>12% </strong>Volatilidad <br>Objetivo</div>
        </a>
      </div>
    </div>
  </div>

</div>
